#root {
  width: 100%;
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  gap: 200px;
  flex: 1;
  width: 100%;
  padding: 1.5rem;
  box-sizing: border-box;

  & .square {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: deepskyblue;
    color: white;
    width: 100px;
    height: 100px;
    padding: 20px;
    font-size: 2em;

    &.animated {
      animation: 5s linear 0s infinite jump;
    }
  }
}

@keyframes jump {
  from {
    transform: translateY(0%);
  }

  25% {
    transform: translateY(100%);
  }

  50% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0%);
  }
}

.card {
  padding: 2em;
}
